<p>
	<strong>Tiêu đề:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Nội dung:</strong>
	<%= simple_format(@article.text) %>
</p>

<h2>Ý kiến bạn đọc</h2>
<%= render @article.comments %>

<h2>Viết bình luận:</h2>
<%= render "comments/form" %>

<%= link_to 'Quay lại', articles_path %>
| <%= link_to 'Chỉnh sửa', edit_article_path(@article) %>
